<div class="container-fluid tweet-container">
	<h1>Timeline</h1>

	<ul id="tweet-list" class="tweet-list">
		<% @tweets.each do |tweet| %>
			<%= render :partial => "dashboard/tweet", :locals => { :tweet => tweet } %>
		<% end %>
	</ul>

  <nav>
    <ul class="pagination justify-content-center">
      <% if @page_number > 1 %>
        <li class="page-item">
          <%= link_to timeline_path(page: @page_number-1), class: "page-link" do %>
            previous
          <% end %>
        </li>
      <% end %>
      <li class="page-item active">
        <%= link_to timeline_path(page: @page_number), class: "page-link" do %>
          <%=@page_number%>
        <% end %>
      </li>
      <% if @page_number < 4 %>
        <li class="page-item">
          <%= link_to timeline_path(page: @page_number+1), class: "page-link" do %>
            next
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>