<!DOCTYPE html>
<html>
  <head>
    <title>Streamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-container"> 
      <div class="sidebar">
        <%= render 'shared/sidebar' %>
      </div>

      <div class="main">
        <div class="top-row">
          <% if current_user %>
            <%= link_to 'SignOut', destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
        <%= render 'shared/messages' %>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>