<!DOCTYPE html>
<html>
  <head>
    <title>Streamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-wrapper toggled">
      <%= render 'shared/sidebar' %>

      <div class="top-row"></div>

      <main class="page-content content-color">
        <%= render 'shared/messages' %>

        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>

    </div>
  </body>
</html>